/*
Auteur:     Maurice Dinh
Classe:     I.IN-P4B
Titre:      style.css
Description:Fichier css du site web Furnigo
*/
#title{
    margin-top: 1cm;
    text-align: center;
    list-style-type: none;

}

nav{
    alignment-adjust: middle;
    background-color: black;
    height: 30px;
    width: 750px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}

li a{
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    height: 30px;
}

li a:hover{
    background-color: #91FF6F;
    color:black;
}

.active{
    background-color: #91FF6F;
    color: black;
}

#content{
    width: 1000px;
    height: 700px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
    overflow: auto;
    border: 2px solid black;
    font-size: large;
}
body{
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
p{
    padding: 5px;
    text-align: justify;
}
input{
    margin-left: 10px;
}
label{
    text-align: right;
}